{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="overlay"></div> <!-- Rain animation overlay -->

<section class="container text-center">
    <h3 class="amisty">Welcome To SammyKeysOfficial Contact Application</h3>
    <hr>
    <br>
    <div class="row">
        <!-- Contact Card -->
        <div class="col-md-6 offset-md-3" style="margin-bottom: 22px;">
            <div class="card thumbnail mydivstyle">
                <img style="width:140px;" class="card-img-top" src="{% static 'images/contact_image.jpg' %}" alt="Contact image">
                <div class="card-body">
                    <h5 class="card-title">Contact Us</h5>
                    <p>Get in touch with us for any queries or support.</p>
                    <a href="{% url 'contact' %}" class="btn btn-primary">Contact Page</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
