{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="overlay"></div> <!-- Rain animation overlay -->

<div class="container mt-5">
  <h2 class="text-center" class="amisty">Contact Us</h2>
  <br><br>
  <div class="row mt-5">
    <div class="col-lg-3 col-sm-6 mt-5 mydivstyle">
      <h4 class="amisty"><i class="fa fa-phone"></i> Contact</h4>
      <p class="font-weight-bold"><a class="text-danger" href="tel:+233 544264029">0544264029</a></p>
    </div>
    <div class="col-lg-3 col-sm-6 mt-5 mydivstyle">
      <h4 class="amisty"><i class="fa fa-envelope"></i> Send Mail</h4>
      <p class="font-weight-bold"><a class="text-danger" href="mailto:agyesam12@gmail.com">agyesam12@gmail.com</a></p>
    </div>
    <div class="col-lg-3 col-sm-6 mt-5 mydivstyle">
      <h4 class="amisty"><i class="fa fa-address-card"></i> Office Address</h4>
      <p class="font-weight-bold"><a class="text-danger" href="https://www.googlemap.com?p=Tesano">Tesano</a></p>
    </div>
    <div class="col-lg-3 col-sm-6 mt-5 mydivstyle">
      <h4 class="amisty"><i class="fa fa-address-card"></i> Working Hours</h4>
      <p class="font-weight-bold"><a class="text-danger">7:00 am to 9:00 pm</a></p>
    </div>
  </div>
</div>
{% endblock %}
