{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="overlay"></div> <!-- Rain animation overlay -->

<section class="container text-center">
    <h3 class="amisty">Welcome To SammyKeysOfficial Website</h3>
    <hr>
    <br>
    <div class="row justify-content-center">
        <!-- Todos Card -->
        <div class="col-md-6" style="margin-bottom: 22px;">
            {% if not request.user.is_authenticated %}
            <a onclick="confirm('Are you sure you want to open this page?');" href="{% url 'signin' %}">
                <div class="card thumbnail mydivstyle">
                    <img style="width:140px;" class="card-img-top" src="{% static 'images/todolist.jpeg' %}" alt="Todos image">
                    <div class="card-body">
                        <h5 class="card-title">Todos</h5>
                        <p>Manage your tasks efficiently.</p>
                    </div>
                </div>
            </a>
            {% else %}
            <a onclick="confirm('Are you sure you want to open this page?');" href="{% url 'ViewTodos' %}">
                <div class="card thumbnail mydivstyle">
                    <img style="width:140px;" class="card-img-top" src="{% static 'images/todolist.jpeg' %}" alt="Todos image">
                    <div class="card-body">
                        <h5 class="card-title">Todos</h5>
                        <p>Manage your tasks efficiently.</p>
                    </div>
                </div>
            </a>
            {% endif %}
        </div>
    </div>

    <!-- Add Todo Form -->
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" class="add-todo-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" required>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" name="description" required></textarea>
                </div>
                <div class="form-group">
                    <label for="is_done">Is Done</label>
                    <input type="checkbox" id="is_done" name="is_done">
                </div>
                <div class="form-group">
                    <label for="is_due">Is Due</label>
                    <input type="date" class="form-control" id="is_due" name="is_due">
                </div>
                <button type="submit" class="btn btn-primary">Add Todo</button>
            </form>
        </div>
    </div>

    <!-- Display Todos Table -->
    <div class="row justify-content-center">
        <div class="col-md-8">
            <table id="tableID" class="table table-striped todos-table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Is Done</th>
                        <th>Is Due</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo in todos %}
                    <tr>
                        <td>{{ todo.title }}</td>
                        <td>{{ todo.description }}</td>
                        <td>{{ todo.is_done }}</td>
                        <td>{{ todo.is_due }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
