{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="container" style="margin-top: 50px;">
  <h2 class="text-center amisty">View Todos</h2>
  <br><br>
  <div class="row mt-5">
    <div class="col-lg-12">
      {% for todo in todos %}
      <a href="#">
        <div class="view-todos-card thumbnail" style="margin-bottom: 20px;">
          <div class="view-todos-card-header">{{ todo.title }}</div>
          <div class="view-todos-card-body">
            <form method="post" action="{% url 'update_todo_status' todo.id %}">
              {% csrf_token %}
              <p>Status: 
                <input type="checkbox" name="is_done" {% if todo.is_done %}checked{% endif %} 
                       onchange="this.form.submit()">
                {{ todo.is_done|yesno:"Completed,Pending" }}
              </p>
            </form>
            <p>
              {% if todo.description %}
                {{ todo.description }}
              {% else %}
                No description for this todo
              {% endif %}
            </p>
            <p class="due-date" data-due-date="{{ todo.is_due }}">Due Date: {{ todo.is_due }}</p>
            <div class="progress-tracker">
              <div class="progress-bar" style="width: 0%;">0%</div>
            </div>
          </div>
          <div class="view-todos-card-footer">
            <a onclick="return alert('We are processing your request')" href="{% url 'DeleteTodo' todo.id %}">
              <i class="fa fa-trash fa-2x"></i>
            </a>
            <a href="{% url 'UpdateTodo' todo.id %}">
              <i class="fa fa-edit fa-2x"></i>
            </a>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
