/* General form styles */
form .form-control {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

form .form-group {
  margin-bottom: 1rem;
}

form .form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

form .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

form label {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: #fff;
}

/* Card styles for todos */
.view-todos-card, .profile-card, .signup-card, .signin-card {
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.view-todos-card:hover, .profile-card:hover, .signup-card:hover, .signin-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.view-todos-card-header, .chat-card-header {
  background-color: #343a40;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view-todos-card-body, .chat-card-body {
  padding: 15px;
  color: #495057;
  background: linear-gradient(45deg, #e9ecef, #f8f9fa);
}

.view-todos-card-footer, .chat-card-footer {
  background-color: #e9ecef;
  padding: 10px;
  text-align: right;
}

/* Responsive design */
@media (max-width: 768px) {
  .view-todos-card, .profile-card, .signup-card, .signin-card {
      margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .view-todos-card-header, .profile-info h3, .signup-card h2, .signin-card h2 {
      font-size: 20px;
  }
  .view-todos-card-body, .profile-info p, .signup-card .form-group, .signin-card .form-group {
      font-size: 14px;
  }
}

form label {
  display: block; /* Ensures labels are displayed as block elements */
  margin-bottom: 0.5rem; /* Adds space below each label */
  color: #333; /* Adjust color as needed */
  font-weight: bold; /* Makes the labels bold */
  font-size: 1rem; /* Adjusts the font size */
}
